<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Friend</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" media="screen" href="/css/dashboard.css" />

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(Personality);
            function Personality() {
                var data = google.visualization.arrayToDataTable([
                	['Personality Characteristics', 'Score'],
                    ['Openness', <%= A[0] %>],
                    ['Conscientiousnes', <%= A[1] %>],
                    ['Extraversion', <%= A[2] %> ],
                    ['Agreeableness', <%= A[3] %> ],
                    ['Emotional range', <%= A[4] %> ]
                ]);
                var chart = new google.visualization.BarChart(document.getElementById('barchart'));
                chart.draw(data);
            }
        </script>

    </head>
    <body>
        <nav class="navbar navbar-inverse" style="margin: 0px;  ">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">Friend Affinity Finder</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="delete"><a href="#"><span class="glyphicon glyphicon-minus"></span> Delete Friend</a></li>
                    <li><a href="/overview"><span class="glyphicon glyphicon-dashboard"></span> Overall</a></li>
                    <li><a href="/add_friend"><span class="glyphicon glyphicon-plus"></span> Add Friend</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <div style="text-align: center">
            <h1 class="header">
                Detailed Analysis
            </h1>
        </div>

        <br><br>

        <div class='row display'>
            <div class="col-sm-6">
                <ul style="list-style: none;">
                    <li>
                        <span>Name</span> - <%= friend_name %>
                    </li>
                    <li>
                        <span>Friend of</span> - <%= user_name %>
                    </li>
<!--                    <li>
                        <span>Calculated Affinity</span> - 0.1234
                    </li>
                    <li>
                        <span>Category</span> - Low Affinity
                    </li>-->
                    <li>
                        <div style="text-align: center">
                            <span>Personality Characteristics</span>
                            <div id="barchart" style="width: 100%; height: 500px;"></div>
                        </div>
                    </li>
                    <li>
                        <span>Needs</span> 
                        <ul>
                            <% needs.forEach(need=>{%>
                                <li><%= need.name%></li>
                            <% }) ;%>
                        </ul>
                    </li>
                    <li>
                        <span>Values</span> 
                        <ul>
                            <% values.forEach(value=>{%>
                            <li><%= value.name %></li>
                            <% }) ;%>
                        </ul>
                    </li>
                    <li>
                        <span>Tones</span> 
                        <ul>
                            <% tones.forEach((tone)=>{%>
                                <li><%= tone.tone_name %></li>
                            <% }) ;%>
                        </ul>
                    </li>
                    <li>
                        <span>Common Interests</span> 
                        <ul>
                            <% common_interests.forEach(interest=>{%>
                                <li><%=interest%></li>
                            <% }) ;%>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul style="list-style: none;">
                    <li>
                        <span>Consumption preferences</span>
                        <ul>
                            <% consumption_preferences.forEach(consumption_preference=>{%>
                                <% consumption_preference.consumption_preferences.forEach(item=>{%>
                                <li><%= item.name %></li>
                                <% }) ;%>
                            <% }) ;%>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    <script src="/js/friend.js"></script>
    </body>
</html>