<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Overview</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Righteous+One&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" type="text/css" media="screen" href="./css/dashboard.css" />

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                ['Category', 'Number of friends'],
                ['High Affinity',     <%=categories['high']%>],
                ['Medium Affinity',      <%=categories['medium']%>],
                ['Low Affinity',  <%=categories['low']%>]
                ]);
                var options = {
                title: 'Category Classification'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
            }
        </script>

    </head>
    <body>
        <nav class="navbar navbar-inverse" style="margin: 0px;  ">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">Friend Affinity Finder</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/overview"><span class="glyphicon glyphicon-dashboard"></span> Overall</a></li>
                    <li><a href="/add_friend"><span class="glyphicon glyphicon-plus"></span> Add Friend</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                </ul>
                </div>
            </div>
        </nav>
        <h1 class="header">Friends vs Categories</h1>
        <table class="table table-striped table-hover" style="font-size:1.2vw;">
            <thead>
                <tr>
                <th>Friend</th>
                <th>Affinity</th>
                <th>Category</th>
                <th>Common Interest</th>
                </tr>
            </thead>
            <tbody>
                <% friends_data.forEach((friend)=>{%>
                    <tr>
                    <td><a href="<%= friend.link_detail %>" style="color:black"><%=friend.name%></a></td>
                    <td><%= friend.affinity %></td>
                    <td><%=friend.category%></td>
                    <td>
                        <ul>
                            <% friend.common_interests.forEach((interest)=>{%>
                            <li>
                                <%=interest%>
                            </li>
                            <% }) ;%>
                        </ul>
                    </td>
                    </tr>
                <% }) ;%>  
            </tbody>
        </table>
        <br>
        <h1 class="header">Category Ananlysis</h1>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </body>
</html>